body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
}

.square {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}